<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">QUIZER</a>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://placeimg.com/80/80/people" />
          </div>
        </label>

        <% if (!sess.user) { %>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/login">Login</a></li>
                <li><a href="/create">Create quiz</a></li>
                <li><a href="/register">Register</a></li>
              </ul>
        <% }else {%>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create">Create quiz</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
        <%} %>
      
      </div>
    </div>
  </div>