<div class="flex justify-center py-4 lg:pt-4 pt-8">
    <div class="mr-4 p-3 text-center">
      <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">
        <%= sess.user.rank %> 
      </span>
      <span class="text-sm text-blueGray-400">Rank</span>
    </div>
    <div class="mr-4 p-3 text-center">
      <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">
        <%= sess.user.point %>
      </span>
      <span class="text-sm text-blueGray-400">Points</span>
    </div>
    <div class="lg:mr-4 p-3 text-center">
      <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">
        <%= sess.user.uploadedquiz %>
      </span>
      <span class="text-sm text-blueGray-400">Uploaded <br> quiz</span>
    </div>
  </div>