<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ-ku || latihan kuis</title>
    <!-- //daisy ui -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- //tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100">
    <%- include('./partials/navbar.ejs')  %> 
    <!-- component -->
<!--
  UI Design Prototype
  Link : https://dribbble.com/shots/10452538-React-UI-Components
-->
<form  method="POST" enctype="application/x-www-form-urlencoded" class=" mt-[40px] pb-[20px] ">
  <div class="mt-[-29px] py-6 w-full rounded-md p-[20px] shadow-lg bg-white justify-center sm:py-12">
    <div class="container grid grid-cols-3 mt-[4px] gap-[30px]">
      <div class="wrapper ">
        <div class="flex flex-col">
          <label class="leading-loose">Subject</label>
          <input type="text" class="subject bg-white px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Subject quiz" name="quiz-subject" required>
        </div>
        <div class="flex flex-col mt-[20px]">
          <label class="leading-loose">Description</label>
          <input type="text" class="description bg-white px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="Optional" name="quiz-description">
        </div>
      </div>
      <div class="time-limit">
        <h2 class="title ml-[30px] mb-[29px] mt-[5px] text-xl">Time limit</h2>
        <div class="form-control w-full max-w-xs bg-white">
          <label class="label grid grid-cols-3 ml-[30px]">
            <span class="label-text">Hour</span>
            <span class="label-text">Minute</span>
            <span class="label-text">Second</span>
          </label>
          <div class="input grid grid-cols-3 bg-white">
            <input type="number" placeholder="Hour" class="input input-bordered bg-white w-[90px] max-w-xs" min="0" max="59"/>
            <input type="number" placeholder="Minute" class="input input-bordered bg-white w-[90px] max-w-xs" min="0" max="59"/>
            <input type="number" placeholder="Second" class="input input-bordered bg-white w-[90px] max-w-xs" min="0" max="59"/>
          </div>
        </div>
      </div>
      <div class="num-question">
        <label class="leading-loose mt-[10px] ml-[35px]">Choose total question</label>
        <div class="relative focus-within:text-gray-600  text-gray-400 grid grid-cols-5 gap-[10px]">
          <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text ml-[35px]">5</span> 
                <input type="radio" name="total-question" value="5" class="total-question radio checked:bg-blue-500 "  checked />
              </label>
            </div>
            <div class="form-control">
              <label class="label cursor-pointer flex gap-[10px]">
                <span class="label-text ml-[35px]">10</span> 
                <input type="radio" name="total-question" value="10" class="total-question radio checked:bg-blue-500"  />
              </label>
            </div>
            <div class="form-control">
              <label class="label cursor-pointer flex gap-[10px]">
                <span class="label-text ml-[35px]">15</span> 
                <input type="radio" name="total-question" value="15" class="total-question radio checked:bg-blue-500"  />
              </label>
            </div>
            <div class="form-control">
              <label class="label cursor-pointer flex gap-[10px]">
                <span class="label-text ml-[35px]">20</span> 
                <input type="radio" name="total-question" value="20" class="total-question radio checked:bg-blue-500"  />
              </label>
            </div>
            <div class="form-control">
              <label class="label cursor-pointer flex gap-[10px]">
                <span class="label-text ml-[35px]">25</span> 
                <input type="radio" name="total-question" value="25" class="total-question radio checked:bg-blue-500"  />
              </label>
            </div>
            <div class="form-control">
              <label class="label cursor-pointer flex gap-[10px]">
                <span class="label-text ml-[35px]">30</span> 
                <input type="radio" name="total-question" value="30" class="total-question radio checked:bg-blue-500"  />
              </label>
            </div>
            <div class="form-control">
              <label class="label cursor-pointer flex gap-[10px]">
                <span class="label-text ml-[35px]">35</span> 
                <input type="radio" name="total-question" value="35" class="total-question radio checked:bg-blue-500"  />
              </label>
            </div>
            <div class="form-control">
              <label class="label cursor-pointer flex gap-[10px]">
                <span class="label-text ml-[35px]">40</span> 
                <input type="radio" name="total-question" value="40" class="total-question radio checked:bg-blue-500"  />
              </label>
            </div>
            <div class="form-control">
              <label class="label cursor-pointer flex gap-[10px]">
                <span class="label-text ml-[35px]">45</span> 
                <input type="radio" name="total-question" value="45" class="total-question radio checked:bg-blue-500"  />
              </label>
            </div>
            <div class="form-control">
              <label class="label cursor-pointer flex gap-[10px]">
                <span class="label-text ml-[35px]">50</span> 
                <input type="radio" name="total-question" value="50" class="total-question radio checked:bg-blue-500"  />
              </label>
            </div>
      </div>
    </div>
  </div>
</div>
  <!----Question-->
  <div class="container-questions p-[20px] rounded-xl mt-[50px] ">
  </div>
  <!----End question-->
    <div class="form-actions flex justify-end gap-[20px] mr-[20px] mb-[30px]">
      <div class="form-massage m-auto mr-[170px]">
        <p class="error-massage text-right italic text-red-700"></p>
      </div>
      <label   class="create-btn btn btn-primary btn-active">Create</label>
      <a class="btn btn-ghost" href="/overview">Back</a>
    </div>
</form>

<input type="checkbox" id="detail-answer" class="modal-toggle" />
<div class="modal">
  <div class="modal-box w-[500px] max-w-5xl">
    <textarea t placeholder="Write answer" class="detail-answer textarea ml-[60px] textarea-bordered textarea-lg  max-w-xs" cols="100" rows="5px" ></textarea>
    <div class="modal-action flex flex-col">
      <label for="detail-answer" class="ok-detail-btn btn">Ok</label>
    </div>
  </div>
</div>

<script src="/create.js"></script>
</body>
</html>